<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title> 
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <h1>Inicio</h1>
    <img src="/img/test.png" alt="Prueba 1">
    <h3>Prueba 1</h3>
    <img src="/img/test_2.png" alt="Prueba 2">
    <h3>Prueba 2</h3>
    <%- include('partials/footer')%>
</body>
</html>