<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title> 
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <h1>Inicia sesion</h1>
    <img src="/img/login.png" alt="login">
    <h3>login
        <span>usuario</span>
        <span>contraseña</span>
    </h3>
    <!-- Agregar un boton de register -->
    <li>
        <a href="/login">
            <img src="/img/register.png" alt="Icono de usuario">
            <span>Eres nuevo ?</span>
        </a>
    </li>
    <%- include('partials/footer')%>
</body>
</html>