<header class="header">
    <div class="header-left">
        <a href="/" class="back-button">Inicio</a>
    </div>
    <div class="header-center">
        <a href="/" class="logo-link">
            <img src="/img/ServiPro.png" alt="ServiPro Logo" class="header-logo">
        </a>
    </div>
    <div class="header-right">
        <a href="/login" class="user-info">
            <div class="user-text">
                <span class="user-name">Anónimo</span>
                <span class="user-subtext">Click Para Loguear</span>
            </div>
            <img src="/img/user.png" alt="User Avatar" class="user-avatar">
        </a>
    </div>
</header>
