<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item">
            <a href="/" class="navbar-link">Inicio</a>
        </li>
        <li class="navbar-item">
            <a href="/about" class="navbar-link">Sobre Nosotros</a>
        </li>
        <li class="navbar-item">
            <a href="/contact" class="navbar-link">Contáctanos</a>
        </li>
        <li class="navbar-item">
            <a href="/login" class="navbar-link">
                <img src="/img/user.png" alt="Icono de usuario" class="navbar-icon">
                <span>Anónimo - Click Para Loguear</span>
            </a>
        </li>
    </ul>
</nav>
