<div class="navigation">
    <ul class="nav-list">
        <li>
            <a href="/" class="nav-item">Servicios</a>
        </li>
        <li>
            <a href="/" class="nav-item">Empleos</a>
        </li>
        <li>
            <a href="/about" class="nav-item">Sobre Nosotros</a>
        </li>
        <li>
            <a href="/contact" class="nav-item">Contáctanos</a>
        </li>
    </ul>

    <div class="nav-section">
        <h4>Redes</h4>
        <div class="social-links">
            <a href="https://facebook.com" target="_blank" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://x.com/" target="_blank" aria-label="X"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <div class="nav-section">
        <h4>Info</h4>
        <p>Cualquier info poner aqui</p>
        <a href="/about" class="support-btn">ServiPro</a>
    </div>
</div>
